.font {
  font-family: 'Oxygen', sans-serif;
}
.flex {
  display: flex;
}
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 1rem;
}
header a {
  color: grey;
  text-decoration: none;
  font-size: 2.6rem;
}
html {
  font-size: 62.5%;
  font-family: 'Oxygen', sans-serif;
}
.title-container {
  position: relative;
  text-align: center;
  color: white;
  margin-bottom: 2%;
}
.title-container img {
  opacity: 75%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  margin-bottom: 2%;
}
.title-container h1 {
  font-weight: bold;
  font-size: 6.5rem;
  position: absolute;
  top: 45%;
  left: 25%;
  transform: translate(50%, -50%);
}
.title-container button {
  font-size: 1.8rem;
  text-decoration: none;
  position: absolute;
  top: 65%;
  left: 42.5%;
  transform: translate(50%, -50%);
}
.artists-container {
  display: flex;
  flex-direction: row;
}
.artists-container .artist {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 50%;
}
.artists-container .artist img {
  border-radius: 2%;
  width: 60%;
  margin-left: auto;
  margin-right: auto;
}
.artists-container .artist a {
  padding: 1.5rem;
  font-size: 2.5rem;
  font-weight: bold;
  text-decoration: none;
  color: black;
}
.artists-container .artist .bio {
  margin: auto;
  width: 60%;
  font-size: 1.4rem;
  margin-bottom: 10%;
}
@font-face {
  font-family: 'Oxygen';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: local('Oxygen Light'), local('Oxygen-Light'), url(https://fonts.gstatic.com/s/oxygen/v9/2sDcZG1Wl4LcnbuCJW8Dbw.ttf) format('truetype');
}
