html{
    font-size:62.5%;
    .font();
}
.title-container{
    position:relative;
    text-align: center;
    color:white;
    margin-bottom:2%;
    img{
        opacity:75%;
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 50%;
        margin-bottom:2%;
        @media @mobile{
            width: 100%;
        }
    }//End of img
    h1{
        font-weight:bold;
        font-size:6.5rem;
        position:absolute;
        top:45%;
        left:25%;
        transform:translate(50%,-50%);
        @media @mobile{
            font-size:4.5rem;
            top:40%;
            left:-3%
        }
    }//End of h1
    button{
        .button(1.8rem,none);
        background-color: white;
        color:rgb(97, 96, 96);
        position:absolute;
        top:65%;
        left:42.5%;
        transform:translate(50%,-50%);
        @media @mobile{
            .button(1.2rem,none);
            width:12rem;
            padding:.5rem;
            border-radius:.3rem;
            top:63%;
            left:27%;
        }
    }//End of button

}//End of .title-container
.artists-container{
    .flex();
    flex-direction: row;
    @media @mobile{
        flex-direction:column;
    }
    .artist{
        .flex();
        flex-direction: column;
        text-align:center;
        width:50%;
        @media @mobile{
            width:100%
        }
        img{
            border-radius: 2%;
            width:60%;
            margin-left: auto;
            margin-right: auto;
        }//end of img
        a{
            padding:1.5rem;
            font-size:2.5rem;
            font-weight:bold;
            text-decoration: none;
            color:black;
        }//end of a links
        .bio{
            margin:auto;
            width:60%;
            font-size: 1.4rem;
            margin-bottom:10%;
        }//end of bio
    }//end of artist
}//end of .artists-container